<!--<div class="container">
<div class="row">
    <ul class="list-group list-group-flush" *ngFor="let p of listeArticles">
    <li class="list-group-item">{{p.titre}}</li>
    <li class="list-group-item">Auteur: {{p.auteur}}</li>
    <li class="list-group-item">Date: {{p.date}}</li>
    <li class="list-group-item">Contenu: {{p.contenu}}</li>
  </ul>
</div>
</div>-->
<div style="margin-left: 30rem; margin-right: 30rem;">
<div class="row" style="text-align: center;">
<ul class="list-group" *ngFor="let p of listeArticles">
  <div><li class="list-group-item active" aria-current="true" >{{p.titre}}</li></div>
  <div><li class="list-group-item">Auteur: {{p.auteur}}</li></div>
  <div><li class="list-group-item">Date: {{p.date}}</li></div>
  <div><li class="list-group-item">Contenu: {{p.contenu}}</li></div>
</ul>
</div>
</div>
